<div>
  <button (click)="loadsvg.click()">Load SVG</button>
  <input style="display:none" type="file" #loadsvg accept="image/svg+xml" (change)="copyToCloud(loadsvg.files)" />
</div>

<div style="display:flex;flex-direction:row">
  <ngx-monaco-editor #svgeditor style="width:50%;height:100vh"
                     [options]="svgoptions"
                     [(ngModel)]="svgcode"
                     (ngModelChange)="svgchanged($event)"></ngx-monaco-editor>
  <div style="width: 50%">
    <div>
      <div style="margin-left:1rem;color:white">
        <span style="margin-left:1rem;margin-right:1rem">threejs canvas view.  Use mouse to orbit and pan</span>
        <button (click)="saveGLTF()">Save</button>
      </div>
      <div #test style="height:50vh">
        <!--placeholder for threejs canvas-->
      </div>
    </div>
    <div>
      <div style="color:white">
        <span style="margin-left:1rem;margin-right:1rem">Equivalent JSON for loading into SVGShape</span>
        <button (click)="saveJSON()">Save</button>
      </div>
      <ngx-monaco-editor style="height:50vh" [options]="jsonoptions" [(ngModel)]="jsoncode"></ngx-monaco-editor>
    </div>
  </div>
</div>
